<div class="card container w-75">
    <div class="border-bottom d-inline-flex mt-3 ms-2">
        <div class="border-bottom">
            <img class="my-2" src="assets/user.png" alt="User Avatar" style="width: 36px;">
            <span>Rogeria</span>
        </div>
    </div>
    <div>
        <div class="text-center">Hoje</div>
        <div class="ms-2 my-5">
            <div class="d-inline-flex bg-info p-2 text-white" style="border-radius: 15px;">
                <img src="assets/user.png" alt="User Avatar" style="width: 36px;">
                <div class="mt-2 ms-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </div>
        </div>
        <div class="ms-2 mb-3">
            <div class="float-end"><p class="bg-light p-3" style="border-radius: 15px;">Eu não falo inglês não doidão</p></div>
        </div>
        <div class="ms-2">
            <div class="d-inline-flex bg-info p-2 text-white" style="border-radius: 15px; margin-top: 60px;">
                <img src="assets/user.png" alt="User Avatar" style="width: 36px;">
                <div class="mt-2 ms-2">Lorem...</div>
            </div>
        </div>
    </div>
    <div class="d-inline-flex border-top mt-4 w-100">
        <input class="w-100 border-0" type="text" placeholder="Escreva sua mensagem...">
        <button class="btn"><img src="../assets/send.png" alt="" width="17px"></button>
    </div>
</div>
