@import url('https://fonts.googleapis.com/css2?family=Ribeye+Marrow&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ou';
}
body{
    width:  100%;
    height: 100%;
    background-color: #F8F8F8;
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}

form{
    background-color: #ffff;
    max-width: 770px;
    height: 450px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 10px 5px 5px #8888;
}

form h1{
    align-items: center;
    font-size: 30px;
    color: #000000;
    text-align: center;
    font-family: "Ribeye Marrow", serif;
}

form p{
    text-align: center;
    margin: 20px 0;
    font-family: "Roboto", sans-serif;
}
.input-single{
    position: relative;
    margin: 20px 0;
}
.input-single label{
    position:absolute ;
    left: 0;
    bottom:5px ;
    transition: all 0.2s;
    cursor: text;
}

.input{
    background-color: #F8F8F8;
    width: 100%;
    border: 0;
    padding: 5px;
    font-size: 17px;
    color: #000000;
    outline: 0;
    border-radius: 10px;
    
}
.radio{
    width: 10%;
    padding: 5px;
    border: 0;
    margin: -0px 0px 30px;
    font-family: "Roboto", sans-serif
    
}
form .input-single .input:focus ~ label,
form .input-single .input:valid ~ label{
    transform: translateY(-24px);
    font-size: 12px;
} 

.botao{
    width: 100%;
    text-align: center;
}
form input[type=submit]{
    padding: 10px 40px;
    border:  0;
    border-radius: 15px;
    background-color:  #3EBCCD;
    color:#ffff;
    cursor:pointer;
}
