<div class="chat-container">
    <div class="chat-header">
        <div class="chat-user-avatar">
            <img src="assets/user.png" alt="User Avatar">
        </div>
        <span>Rogeria</span>
    </div>
    <div class="chat-body">
        <div class="chat-date">Hoje</div>
        <div class="message message-sent">
            <div class="message-avatar">
                <img src="assets/user.png" alt="User Avatar">
            </div>
            <div class="message-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        </div>
        <div class="message message-received">
            <div class="message-text">Eu não falo inglês não doidão</div>
        </div>
        <div class="message message-sent">
            <div class="message-avatar">
                <img src="assets/user.png" alt="User Avatar">
            </div>
            <div class="message-text">Lorem.....</div>
        </div>
    </div>
    <div class="chat-footer">
        <input type="text" placeholder="Escreva sua mensagem...">
        <button class="send-button"><img src="assets/send.png" alt="" width="17px"></button>
    </div>
</div>
